<!-- > Control Cabinet -->
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Control Cabinet
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <!-- > First -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        CABINET MATERIAL:
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        STD: Carbon Steel (3mm) with stainless steel hardware & Hinges
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPL: Stainless Steel Complete
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPECIAL NOTES
      </label>
      <mat-form-field>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>

  </mat-expansion-panel>
  <!-- > Second -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        BOTTOM PLATE:
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        STD: Aluminum
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPL: A. V
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPECIAL NOTES
      </label>
      <mat-form-field>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <!-- > Third -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        EXTERIOR FINISH:
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        STD: ANSI#70 GREY-5 mil
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPL: A. V
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPECIAL NOTES
      </label>
      <mat-form-field>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>

  </mat-expansion-panel>
  <!-- > Fourth -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        INTERIOR FINISH:
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        STD: Same as Exterior finish ( Back and Swing panels are always White Finish)
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPL:
      </label>
      <mat-form-field>
        <input matInput type = "text" placeholder="SPL Value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPECIAL NOTES
      </label>
      <mat-form-field>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <!-- > Fifth -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        VENTILATION:
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        STD: NEMA-3R Ventilated
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPL:
      </label>
      <mat-form-field>
        <input matInput type = "text" placeholder="SPL value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPECIAL NOTES
      </label>
      <mat-form-field>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <!-- > Sixth -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        EXTERNAL WIRING RIGID :
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        STD: Rigid Galvanized conduit
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPL: A. V
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        FLEXIBLE STD: Type SO Multi-Conductor cable and sealtite
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        FLEXIBLE SPL:
      </label>
      <mat-form-field>
        <input matInput type = "text" placeholder="Flexible SPL value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPECIAL NOTES
      </label>
      <mat-form-field>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <!-- > Seventh -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        MAX LENGTH OF
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        STD: MECHANICAL DESIGN DISCRETION
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPL: Customer allows
        <input matInput type = "number" >
        inches Maximum SO Cord (Excluding Fan Wiring)
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPL: Customer allows
        <input matInput type = "number" >
        inches Maximum Sealtite (Excluding Fan Wiring)
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>


      <label>
        SPECIAL NOTES
      </label>
      <mat-form-field>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <!-- > Eighth -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        WIRING FOR GAUGES
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        STD: Sealtite flexible conduit
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPL:
      </label>
      <mat-form-field>
        <input matInput type = "text" placeholder="SPL value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPECIAL NOTES
      </label>
      <mat-form-field>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <!-- > Ninth -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        WIRE SPLICING:
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        STD: IN J-BOX
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPL: (NO SPLICE) AT TERMINAL BLOCK CONNECTIONS ONLY
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPECIAL NOTES
      </label>
      <mat-form-field>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <!-- > Tenth -->
  <mat-expansion-panel (click)="scroll(target)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        CABINET LOCATION:
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div #target class="example-container">
      <label>
        <span>STD: Located on ANSI SEGMENT #</span>
        <input matInput type = "text">
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        <span>SPL: Located on ANSI SEGMENT #</span>
        <input matInput type = "text">
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPECIAL NOTES
      </label>
      <mat-form-field>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <!-- > eleventh -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        CSA/UL CERTIFICATION:
        FOR ASSEMBLED CABINET
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        <span>SPL:</span>
        <input matInput type = "text">
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPECIAL NOTES
      </label>
      <mat-form-field>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
</mat-expansion-panel>
