<!-- > Transformer Devices One -->
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      TRANSFORMER DEVICES ONE
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        DIAL Type HOT OIL THERMOMETER
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        MAIN TANK QUANTITY
      </label>
      <mat-form-field>
        <input matInput type = "number">
      </mat-form-field>

      <label>
        LTC TANK QUANTITY
      </label>
      <mat-form-field>
        <input matInput type = "number">
      </mat-form-field>

      <label>STD : 8D12438G01</label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <label>SPL : 8D12438G02</label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <label>
          SPECIAL NOTES
        </label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>

  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        TOP OIL RTD
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        MAIN TANK QUANTITY
      </label>
      <mat-form-field>
        <input matInput type = "number">
      </mat-form-field>

      <label>
        LTC TANK QUANTITY
      </label>
      <mat-form-field>
        <input matInput type = "number">
      </mat-form-field>

      <label>STD</label>
      <mat-form-field>
        <input matInput type = "text" placeholder="STD Value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <label>SPL</label>
      <mat-form-field>
        <input matInput type = "text" placeholder="SPL Value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <label>
          SPECIAL NOTES
        </label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        DIAL Type HOT SPOT THERMOMETER
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        MAIN TANK QUANTITY
      </label>
      <mat-form-field>
        <input matInput type = "number">
      </mat-form-field>

      <label>STD</label>
      <mat-form-field>
        <input matInput type = "text" placeholder="STD Value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <label>SPL</label>
      <mat-form-field>
        <input matInput type = "text" placeholder="SPL Value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <label>
          SPECIAL NOTES
        </label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>

  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        HOT SPOT RTD
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        MAIN TANK QUANTITY
      </label>
      <mat-form-field>
        <input matInput type = "number">
      </mat-form-field>

      <label>STD</label>
      <mat-form-field>
        <input matInput type = "text" placeholder="STD Value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <label>SPL</label>
      <mat-form-field>
        <input matInput type = "text" placeholder="SPL Value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <label>
          SPECIAL NOTES
        </label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        ELECTRONIC TEMPERATURE MONITOR
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="example-container">
      <label>
        QUANTITY
      </label>
      <mat-form-field>
        <input matInput type = "number">
      </mat-form-field>

      <label>STD</label>
      <mat-form-field>
        <input matInput type = "text" placeholder="STD Value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <label>SPL</label>
      <mat-form-field>
        <input matInput type = "text" placeholder="SPL Value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <label>
          SPECIAL NOTES
        </label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>

  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        OTHER MONITOR SYSTEM
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        QUANTITY
      </label>
      <mat-form-field>
        <input matInput type = "number">
      </mat-form-field>

      <label>STD : XXXXXX</label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <label>SPL : YYYYYY</label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <label>
          SPECIAL NOTES
        </label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>


    <mat-form-field>
      <label>
        SPECIAL NOTES
      </label>
      <textarea matInput></textarea>
    </mat-form-field>

  </mat-expansion-panel>
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        NGR
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div #target class="example-container">
      <label>
        QUANTITY
      </label>
      <mat-form-field>
        <input matInput type = "number">
      </mat-form-field>

      <label>SPL: POST GLOVER TYPE 1ZBA54362</label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <label>
          SPECIAL NOTES
        </label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>


    <mat-form-field>
      <label>
        SPECIAL NOTES
      </label>
      <textarea matInput></textarea>
    </mat-form-field>

  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        INERT AIR CABINET
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        MAIN TANK QUANTITY
      </label>
      <mat-form-field>
        <input matInput type = "number">
      </mat-form-field>

      <label>
        Quantity(IF NITROGEN GENERATOR REQUIRED)
      </label>
      <mat-form-field>
        <input matInput type = "number">
      </mat-form-field>

      <label>STD: 1ZBA12345</label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <label>SPL: 1ZBA12346</label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <label>
          SPECIAL NOTES
        </label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
</mat-expansion-panel>

<!-- > Transformer Devices Two -->
<mat-expansion-panel (opened)="scroll(targetTwo)">
  <mat-expansion-panel-header>
    <mat-panel-title>
      TRANSFORMER DEVICES TWO
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <!-- > First -->
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        FIBER OPTICS / MONITOR REQUIRED
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div #targetTwo class="example-container">
      <label>
        FIBER OPTICS / MONITOR REQUIRED
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPL :
      </label>
      <mat-form-field>
        <input matInput type = "text">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>Quantity</label>
      <mat-form-field>
        <input matInput type = "number">
      </mat-form-field>
      <mat-form-field>
        <input matInput type = "text">
        <input matInput type = "number">
        <span>, meters long</span>
        <input matInput type = "text">
      </mat-form-field>

      <label>Quantity</label>
      <mat-form-field>
        <input matInput type = "number">
      </mat-form-field>
      <mat-form-field>
        <input matInput type = "text">
        <input matInput type = "text">
      </mat-form-field>

      <label>Quantity</label>
      <mat-form-field>
        <input matInput type = "number">
      </mat-form-field>
      <mat-form-field>
        <input matInput type = "text">
        <input matInput type = "number">
        <span>, meters long</span>
        <input matInput type = "text">
      </mat-form-field>
      <label>Quantity</label>
      <mat-form-field>
        <input matInput type = "number">
      </mat-form-field>
      <mat-form-field>
        <input matInput type = "text">
        <input matInput type = "text">
      </mat-form-field>

      <label>Quantity</label>
      <mat-form-field>
        <input matInput type = "number">
      </mat-form-field>
      <mat-form-field>
        <span>Feed-Thru junction Box</span>
        <input matInput type = "text">
      </mat-form-field>

      <mat-form-field>
        <label>
          SPECIAL NOTES
        </label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>

  </mat-expansion-panel>
  <!-- > Second -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        MECHANICAL RELIEF DEVICE (MAIN TANK)
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        MAIN TANK QUANTITY
      </label>
      <mat-form-field>
        <input matInput type = "number">
      </mat-form-field>

      <label>
        LTC TANK QUANTITY
      </label>
      <mat-form-field>
        <input matInput type = "number">
      </mat-form-field>

      <label>STD</label>
      <mat-form-field>
        <input matInput type = "text" placeholder="STD Value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <label>SPL</label>
      <mat-form-field>
        <input matInput type = "text" placeholder="SPL Value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <label>
          SPECIAL NOTES
        </label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <!-- > Third -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        THERMAL PLATE
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        QUANTITY
      </label>
      <mat-form-field>
        <input matInput type = "number">
      </mat-form-field>

      <label>STD</label>
      <mat-form-field>
        <input matInput type = "text" placeholder="STD Value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <label>SPL</label>
      <mat-form-field>
        <input matInput type = "text" placeholder="SPL Value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <label>
          SPECIAL NOTES
        </label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>

  </mat-expansion-panel>
  <!-- > Fourth -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        FAULT/SUDEN PRESSURE
        RELAY
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        MAIN TANK QUANTITY
      </label>
      <mat-form-field>
        <input matInput type = "number">
      </mat-form-field>

      <label>
        LTC TANK QUANTITY
      </label>
      <mat-form-field>
        <input matInput type = "number">
      </mat-form-field>

      <label>STD</label>
      <mat-form-field>
        <input matInput type = "text" placeholder="STD Value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <label>SPL</label>
      <mat-form-field>
        <input matInput type = "text" placeholder="SPL Value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <label>
          SPECIAL NOTES
        </label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <!-- > Fifth -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        BREATHER
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        MAIN TANK QUANTITY
      </label>
      <mat-form-field>
        <input matInput type = "number">
      </mat-form-field>

      <label>
        LTC TANK QUANTITY
      </label>
      <mat-form-field>
        <input matInput type = "number">
      </mat-form-field>

      <label>STD</label>
      <mat-form-field>
        <input matInput type = "text" placeholder="STD Value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <label>SPL</label>
      <mat-form-field>
        <input matInput type = "text" placeholder="SPL Value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <label>
          SPECIAL NOTES
        </label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <!-- > Sixth -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        BOTTOM OIL RTD
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        QUANTITY
      </label>
      <mat-form-field>
        <input matInput type = "text">
      </mat-form-field>
      <mat-form-field>
        <input matInput type = "number">
      </mat-form-field>

      <label>STD</label>
      <mat-form-field>
        <input matInput type = "text">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <label>SPL</label>
      <mat-form-field>
        <input matInput type = "text">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <label>
          SPECIAL NOTES
        </label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>

</mat-expansion-panel>

<!-- > Transformer Devices Three -->
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      TRANSFORMER DEVICES THREE
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <!-- > First -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        AMBIENT RTD
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        Quantity
      </label>
      <mat-form-field>
        <input matInput type = "input">
      </mat-form-field>

      <label>
        STD :
      </label>
      <mat-form-field>
        <input matInput type = "text" placeholder="STD value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPL :
      </label>
      <mat-form-field>
        <input matInput type = "text" placeholder="SPL value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field>
        <label>
          SPECIAL NOTES
        </label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>

  </mat-expansion-panel>
  <!-- > Second -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        PRESSURE VACUUM GAUGE
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        Main Tank Quantity
      </label>
      <mat-form-field>
        <mat-form-field>
          <input matInput type = "input">
        </mat-form-field>
      </mat-form-field>

      <label>
        STD :
      </label>
      <mat-form-field>
        <input matInput type = "text" placeholder="STD value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPL :
      </label>
      <mat-form-field>
        <input matInput type = "text" placeholder="SPL value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field>
        <label>
          SPECIAL NOTES
        </label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <!-- > Third -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        BUCHHOLZ RELAY
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        Quantity
      </label>
      <mat-form-field>
        <mat-form-field>
          <input matInput type = "text">
        </mat-form-field>
      </mat-form-field>
      <mat-form-field>
        <mat-form-field>
          <input matInput type = "input">
        </mat-form-field>
      </mat-form-field>

      <label>
        STD :
      </label>
      <mat-form-field>
        <input matInput type = "text" placeholder="STD value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPL :
      </label>
      <mat-form-field>
        <input matInput type = "text" placeholder="SPL value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field>
        <label>
          SPECIAL NOTES
        </label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>

  </mat-expansion-panel>
  <!-- > Fourth -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        LIQUID LEVEL GAUGE
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        MAIN TANK QUANTITY
      </label>
      <mat-form-field>
        <input matInput type = "number">
      </mat-form-field>

      <label>
        LTC TANK QUANTITY
      </label>
      <mat-form-field>
        <input matInput type = "number">
      </mat-form-field>

      <label>STD</label>
      <mat-form-field>
        <input matInput type = "text" placeholder="STD Value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <label>SPL</label>
      <mat-form-field>
        <input matInput type = "text" placeholder="SPL Value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <label>
          SPECIAL NOTES
        </label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <!-- > Fifth -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        GAS SAMPLING DEVICE
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        QUANTITY
      </label>
      <mat-form-field>
        <input matInput type = "text">
      </mat-form-field>
      <mat-form-field>
        <input matInput type = "number">
      </mat-form-field>

      <label>STD</label>
      <mat-form-field>
        <input matInput type = "text">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <label>SPL</label>
      <mat-form-field>
        <input matInput type = "text">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <label>
          SPECIAL NOTES
        </label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <!-- > Sixth -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        BOTTOM OIL RTD
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        QUANTITY
      </label>
      <mat-form-field>
        <input matInput type = "text">
      </mat-form-field>
      <mat-form-field>
        <input matInput type = "number">
      </mat-form-field>

      <label>STD</label>
      <mat-form-field>
        <input matInput type = "text">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <label>SPL</label>
      <mat-form-field>
        <input matInput type = "text">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <label>
          SPECIAL NOTES
        </label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
</mat-expansion-panel>

<!-- >  Power Supply And Cooling Equipment -->
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Power Supply And Cooling Equipment
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <!-- > First -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        FANS
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        Quantity
      </label>
      <mat-form-field>
        <input matInput type = "input">
      </mat-form-field>

      <label>
        STD :
      </label>
      <mat-form-field>
        <input matInput type = "text" placeholder="STD value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPL :
      </label>
      <mat-form-field>
        <input matInput type = "text" placeholder="SPL value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPECIAL NOTES
      </label>
      <mat-form-field>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>

  </mat-expansion-panel>
  <!-- > Second -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        RADIATORS
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        Quantity
      </label>
      <mat-form-field>
        <input matInput type = "input">
      </mat-form-field>

      <label>
        STD :
      </label>
      <mat-form-field>
        <input matInput type = "text" placeholder="STD value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPL :
      </label>
      <mat-form-field>
        <input matInput type = "text" placeholder="SPL value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPECIAL NOTES
      </label>
      <mat-form-field>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <!-- > Third -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        PUMPS
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        Quantity
      </label>
      <mat-form-field>
        <input matInput type = "input">
      </mat-form-field>

      <label>
        STD :
      </label>
      <mat-form-field>
        <input matInput type = "text" placeholder="STD value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPL :
      </label>
      <mat-form-field>
        <input matInput type = "text" placeholder="SPL value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPECIAL NOTES
      </label>
      <mat-form-field>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>

  </mat-expansion-panel>
  <!-- > Fourth -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        COOLERS
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        Quantity
      </label>
      <mat-form-field>
        <input matInput type = "input">
      </mat-form-field>

      <label>
        STD :
      </label>
      <mat-form-field>
        <input matInput type = "text" placeholder="STD value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPL :
      </label>
      <mat-form-field>
        <input matInput type = "text" placeholder="SPL value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPECIAL NOTES
      </label>
      <mat-form-field>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <!-- > Fifth -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        CUSTOMER AC SUPPLY VOLTAGE
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        Does Customer called in specification?
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>VOLTAGE STD</label>
      <mat-form-field>
        <input matInput type = "number">
      </mat-form-field>
      <label>PHASE STD</label>
      <mat-form-field>
        <input matInput type = "number">
      </mat-form-field>
      <label>
        SPECIAL NOTES
      </label>
      <mat-form-field>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
</mat-expansion-panel>

<!-- >  Core And Coils One -->
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Core And Coils One
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <!-- > First -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Core And Coils Details
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        SPL: OUTER CORE PACKETS ON LEGS ARE SLOTED
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPL:  NON-MAG INNER YOKE BOLTS REQUIRED
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPL : SUPPORT FOR EACH CORE STEP REQUIRED
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SEPARATE GROUND FOR EACH CORE SEPARATION REQUIRED
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPECIAL INSULATION BETWEEN FLITCH PLATE AND CORE REQUIRED
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPECIAL INSULATION BETWEEN CORE CLAMPS AND CORE REQUIRED
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPECIAL NOTES
      </label>
      <mat-form-field>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>

  </mat-expansion-panel>
  <!-- > Second -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        CORE GROUND
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        STD:  Main Core Ground, EXTERNAL
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        STD:  Yoke Clamp Ground, EXTERNAL
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        STD:  Series/Series-Auto Core Ground, EXTERNAL
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPL:  PA Core Ground, EXTERNAL
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPECIAL NOTES
      </label>
      <mat-form-field>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <!-- > Third -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        DETC
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        Quantity
      </label>
      <mat-form-field>
        <input matInput type = "number">
      </mat-form-field>

      <label>
        STD :
      </label>
      <mat-form-field>
        <input matInput type = "text" placeholder="STD value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPL :
      </label>
      <mat-form-field>
        <input matInput type = "text" placeholder="SPL value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field>
        <label>
          SPECIAL NOTES
        </label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>

  </mat-expansion-panel>
  <!-- > Fourth -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        SERIES/PARALLEL SWITCH
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        Quantity
      </label>
      <mat-form-field>
        <input matInput type = "number">
      </mat-form-field>

      <label>
        STD :
      </label>
      <mat-form-field>
        <input matInput type = "text" placeholder="STD value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPL :
      </label>
      <mat-form-field>
        <input matInput type = "text" placeholder="SPL value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field>
        <label>
          SPECIAL NOTES
        </label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <!-- > Fifth -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        TEST LINK
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        Quantity
      </label>
      <mat-form-field>
        <input matInput type = "number">
      </mat-form-field>

      <label>
        STD :
      </label>
      <mat-form-field>
        <input matInput type = "text" placeholder="STD value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPL :
      </label>
      <mat-form-field>
        <input matInput type = "text" placeholder="SPL value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field>
        <label>
          SPECIAL NOTES
        </label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <!-- > Sixth -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        LTC
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        Quantity
      </label>
      <mat-form-field>
        <input matInput type = "number">
      </mat-form-field>

      <label>
        QTY (IF OIL FILTER FOR UZ LTC REQUIRED)
      </label>
      <mat-form-field>
        <input matInput type = "number">
      </mat-form-field>

      <label>
        STD :
      </label>
      <mat-form-field>
        <input matInput type = "text" placeholder="STD value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPL :
      </label>
      <mat-form-field>
        <input matInput type = "text" placeholder="SPL value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <label>
          SPECIAL NOTES
        </label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
</mat-expansion-panel>

<!-- >  Core And Coils Two -->
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Core And Coils Two
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <!-- > First -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        PREVENTIVE AUTO
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        QTY
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPECIAL NOTES
      </label>
      <mat-form-field>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>

  </mat-expansion-panel>
  <!-- > Second -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        SERIES AUTO
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        QTY
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPECIAL NOTES
      </label>
      <mat-form-field>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <!-- > Third -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        ZENOX
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        QTY
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPECIAL NOTES
      </label>
      <mat-form-field>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>

  </mat-expansion-panel>
  <!-- > Fourth -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Internal Hardware
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        STD: Black Iron
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        OPT: Non-Mag (Silicon Bronze)
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        OPT: No Split lock washers
      </label>
      <mat-form-field>
        <input matInput type = "text">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <label>
          SPECIAL NOTES
        </label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
</mat-expansion-panel>

