<!-- > Tank And Fittings One -->
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Tank And Fittings One
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <!-- > First -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        SHIP ENVIRONMENT:
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        STD: Dry Air
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        OPT: Dry Air with Small bottle attached w/regulator.
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        OPT: Oil-filled
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPECIAL NOTES
      </label>
      <mat-form-field>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>

  </mat-expansion-panel>
  <!-- > Second -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        IMPACT RECORDER:
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        STD QTY:  Mechanical Recorder, 3-axis
      </label>
      <mat-form-field>
        <input matInput type = "number">
      </mat-form-field>

      <label>
        OPT QTY:  Digital Recorder, 3-axis
      </label>
      <mat-form-field>
        <input matInput type = "number">
      </mat-form-field>

      <label>
        SPL:
      </label>
      <mat-form-field>
        <input matInput type = "text" placeholder="SPL Value">
      </mat-form-field>
      <mat-form-field>
        <input matInput type = "number">
      </mat-form-field>

      <label>
        SPECIAL NOTES
      </label>
      <mat-form-field>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <!-- > Third -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        FINISH:
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        STD: ANSI #70 GRAY – 5mil
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPL: ANSI # 61
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPECIAL NOTES
      </label>
      <mat-form-field>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>

  </mat-expansion-panel>
  <!-- > Fourth -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        AMBIENT TEMPERATURE:
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        STD: MIN -20°C and MAX +40°C
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPL:  MIN -50°C and MAX +40°C .
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPECIAL NOTES
      </label>
      <mat-form-field>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <!-- > Fifth -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        SEISMIC
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        SPL: Bracing Required – Seismic per IEEE 693
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPECIAL NOTES
      </label>
      <mat-form-field>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <!-- > Sixth -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        BASE:
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        STD: Flat Plate
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPECIAL: I-Beam
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <label>
          SPECIAL NOTES
        </label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <!-- > Seventh -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        TANK:
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">

      <label>
        SPL:
      </label>
      <mat-form-field>
        <input matInput type = "text" placeholder="SPL value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPECIAL NOTES
      </label>
      <mat-form-field>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
</mat-expansion-panel>

<!-- > Tank And Fittings Two -->
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Tank And Fittings Two
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <!-- > First -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        MAIN TANK VALVES:
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        Drain STD: 2" + 3/8" Sampler, Ball
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        Drain SPL:
      </label>
      <mat-form-field>
        <input matInput type = "text" placeholder="Drain SPL Value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        Upper F.P STD:  2", Ball Valve
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        Upper F.P. SPL:
      </label>
      <mat-form-field>
        <input matInput type = "text" placeholder="Upper F.P. SPL:">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        Vacuum STD:  3" Ball Valve, Flange To Thread
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        Vacuum SPL:
      </label>
      <mat-form-field>
        <input matInput type = "text" placeholder="Vacuum SPL Value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        Location STD: Drain and Fill on Segment 1
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        Location SPL:
      </label>
      <mat-form-field>
        <input matInput type = "text" placeholder="Location SPL Value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        Other : SPL: 4 Inch
      </label>
      <mat-form-field>
        <input matInput type = "text" placeholder="SPL 4 Inch Value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        Other : SPL
      </label>
      <mat-form-field>
        <input matInput type = "text" placeholder="SPL Value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPECIAL NOTES
      </label>
      <mat-form-field>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>

  </mat-expansion-panel>
  <!-- > Second -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        JACK PADS:
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        STD: Min Size 6” x 8” , at tank corner
      </label>
      <mat-select placeholder="Yes/No">
        <mat-option value="Yes">Yes</mat-option>
        <mat-option value="No">No</mat-option>
      </mat-select>

      <label>
        SPECIAL: 8” x 8” at tank corner
      </label>
      <mat-select placeholder="Yes/No">
        <mat-option value="Yes">Yes</mat-option>
        <mat-option value="No">No</mat-option>
      </mat-select>

      <label>
        SPECIAL NOTES
      </label>
      <mat-form-field>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <!-- > Third -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        LIFTING LUGS:
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        STD:  3.25" wide x 8.25" dia pulley
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPL:
      </label>
      <mat-form-field>
        <input matInput type = "text" placeholder="SPL Value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPECIAL NOTES
      </label>
      <mat-form-field>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>

  </mat-expansion-panel>
  <!-- > Fourth -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        MANHOLES:
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        STD: Minimum of 24” Diameter on the Cover
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPL:
      </label>
      <mat-form-field>
        <input matInput type = "text" placeholder="SPL value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPECIAL NOTES
      </label>
      <mat-form-field>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <!-- > Fifth -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        TANK SHIELDING:
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        Segment 1:  Type
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput type = "text">
        <span>Thickness </span>
        <input matInput type = "number">
        <span>mm</span>
      </mat-form-field>

      <label>
        Segment 2:  Type
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput type = "text">
        <span>Thickness </span>
        <input matInput type = "number">
        <span>mm</span>
      </mat-form-field>

      <label>
        Segment 3:  Type
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput type = "text">
        <span>Thickness </span>
        <input matInput type = "number">
        <span>mm</span>
      </mat-form-field>

      <label>
        Segment 4:  Type
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput type = "text">
        <span>Thickness </span>
        <input matInput type = "number">
        <span>mm</span>
      </mat-form-field>

      <label>
        Winding to tank wall spacing:
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <span>1. </span>
        <input matInput type = "number">
        <span>mm </span>

        <span>2. </span>
        <input matInput type = "number">
        <span>mm </span>

        <span>3. </span>
        <input matInput type = "number">
        <span>mm </span>

        <span>4. </span>
        <input matInput type = "number">
        <span>mm </span>

        <span> Distance to magnetic shunt surface or surface of copper or aluminum. If Engineer has minimum required.</span>
      </mat-form-field>

      <label>
        SPECIAL NOTES
      </label>
      <mat-form-field>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <!-- > Sixth -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        EXTERNAL
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        STD: 304 SS Hardware with Silicon Bronze Nuts
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPL:
      </label>
      <mat-form-field>
        <input matInput type = "text" placeholder="SPL value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <label>
          SPECIAL NOTES
        </label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
</mat-expansion-panel>

<!-- > Tank And Fittings Three -->
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Tank And Fittings Three
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <!-- > First -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        GROUND PADS:
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        STD: 2 Hole, Stainless Steel
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPL:
      </label>
      <mat-form-field>
        <input matInput type = "text" placeholder="SPL value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPECIAL NOTES
      </label>
      <mat-form-field>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>

  </mat-expansion-panel>
  <!-- > Second -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        NAMEPLATE:
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        STD: Mounting  7.5" x 15"
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        STD: Located On Control Cabinet Door
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPL: Located on wall ANSI segment #
      </label>
      <mat-form-field>
        <input matInput type = "number">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPECIAL NOTES
      </label>
      <mat-form-field>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <!-- > Third -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        ADDITIONAL NAMEPLATES:
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        STD: Center of Gravity Nameplates
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPL:  Shop order
      </label>
      <mat-form-field>
        <input matInput type = "number">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <label>
          SPECIAL NOTES
        </label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>

  </mat-expansion-panel>
  <!-- > Fourth -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        TANK SAFETY
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        STD:  Uni-hoist Mounting plate (Dwg-1024A73M01) <br>
        (Must be included in all designs unless other tether plate is specified.)
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPL: Tether Pole
      </label>
      <mat-form-field>
        <input matInput type = "text" placeholder="SPL: Tether Pole value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPECIAL NOTES
      </label>
      <mat-form-field>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <!-- > Fifth -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        TRANSFORMER SOUND LEVEL
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        OPT:  Special measures to reduce tank sound.
      </label>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPL:
      </label>
      <mat-form-field>
        <input matInput type = "text" placeholder="SPL value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <label>
          SPECIAL NOTES
        </label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <!-- > Sixth -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        TANK DIMENSIONS:
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        SPL:
      </label>
      <mat-form-field>
        <input matInput type = "text">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPECIAL NOTES
      </label>
      <mat-form-field>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <!-- > Seventh -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        EXTERNAL PT:
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        SPL:
      </label>
      <mat-form-field>
        <input matInput type = "text" placeholder="SPL value">
        <span>V</span>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPECIAL NOTES
      </label>
      <mat-form-field>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <!-- > Eighth -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        EXTERNAL CT:
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <label>
        SPL:
      </label>
      <mat-form-field>
        <input matInput type = "text">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Yes/No">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <label>
        SPECIAL NOTES
      </label>
      <mat-form-field>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
</mat-expansion-panel>
